[2020-09-21 18:49] victor-pogor opened #6 "[BUG] Failed to read Git log: fatal: not a git repository: '.git'"
### Describe the bug

When I try to call the `git commit` command, `husky` calls the `pre-commit` hook and I obtain `Failed to read Git log: fatal: not a git repository: '.git'`

This can be solved by updating the `git` version (see [this comment](https://github.com/typicode/husky/issues/98#issuecomment-537486043)).

[2020-09-22 18:55] #6 closed

[2020-10-04 09:18] victor-pogor opened #8 "Fix GPG signing in dev container"

[2020-10-04 09:19] victor-pogor opened #9 "Change in all files the theme name"

[2020-11-08 21:18] victor-pogor opened #20 "[BUG] Fix CodeQL vulnerabilities"
### Describe the bug

Need to fix `Potentially unsafe external link` vulnerabilities in 3 files. For more information please look at [code scanning alerts](https://github.com/sunt-programator/CodeIT/security/code-scanning/1?query=ref%3Arefs%2Fheads%2Fmaster) page.

[2020-11-08 21:30] #20 closed

[2020-11-10 19:01] victor-pogor opened #23 "[FEATURE] Change theme name in files"

[2020-11-10 19:13] victor-pogor opened #24 "[FEATURE] Clean file comments"

[2020-11-10 19:26] #23 closed

[2020-11-10 19:34] victor-pogor opened #27 "[FEATURE] Adjust issues templates"

[2020-11-10 19:38] victor-pogor opened #28 "[FEATURE] Add deployment script"
### Describe the feature you want

- [x] Adding the deployment script to publishing the theme documentation to [our blog](https://codeit.suntprogramator.dev/).
- [x] Adding badge on the `readme` file.

[2020-11-11 20:18] #8 closed

[2020-11-11 21:04] victor-pogor opened #29 "[FEATURE] Update theme demo image"
### Describe the feature you want

- Update representative theme image, showing the look on different devices.

[2020-11-11 21:07] victor-pogor opened #30 "[FEATURE] Add release creation"
### Describe the feature you want

- Feature 1
  Add release creation on pushing to master branch.

### Useful reference

- [GitHub Automatic Releases](https://github.com/marvinpinto/actions/tree/master/packages/automatic-releases)

[2020-11-11 21:10] victor-pogor opened #31 "[FEATURE] Update issue and PR templates"
### Describe the feature you want

- Feature 1
  Update issue templates by including by default the `Development` project board.

### Useful reference

- [About issue and pull request templates
](https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/about-issue-and-pull-request-templates)

[2020-11-11 21:37] victor-pogor commented on #27
Duplicate #31

[2020-11-11 21:37] #27 closed

[2020-11-11 22:18] victor-pogor opened #32 "[FEATURE] Add install instructions"
### Describe the feature you want

- Feature 1
  Add install instructions. This theme supports [`devcontainers`](https://code.visualstudio.com/docs/remote/containers). Need to add the instruction on how to launch this theme inside a container and also how to configure manually the environment.

[2020-11-14 10:44] #28 closed

[2020-11-15 14:31] #9 closed

[2020-11-15 19:19] #30 closed

[2020-11-15 19:32] #31 closed

[2020-11-15 19:33] #24 closed

[2020-11-17 19:46] victor-pogor opened #33 "[FEATURE] Add checks on pull requests"
### Describe the feature you want

- Feature 1
  Add checks on pull requests.

[2020-11-22 16:06] victor-pogor opened #34 "[FEATURE] Auto-generated changelogs"
### Describe the feature you want

- Feature 1
  Need to implement auto-generated changelogs on the `CHANGELOG.md` file and on the pull request creation.

### Useful reference

- [How To Automatically Generate A Helpful Changelog From Your Git Commit Messages](https://www.mokkapps.de/blog/how-to-automatically-generate-a-helpful-changelog-from-your-git-commit-messages/)

[2020-11-25 20:23] victor-pogor opened #41 "[FEATURE] Add all-contributors bot"
### Describe the feature you want

- [x] Adding `all-contributors` bot
  Need to add the `all-contributors` bot in order to follow the [all-contributors](https://allcontributors.org/) specification.

### Useful reference

1. The [all-contributors](https://github.com/all-contributors/all-contributors) repository.

[2020-11-25 20:43] #32 closed

[2020-11-25 20:43] #33 closed

[2020-11-25 21:23] victor-pogor opened #43 "[FEATURE] Add markdown linter"
## Describe the feature you want

- Markdown lint.
  Need to add markdown linter hook before commits.

## Useful reference

The [markdownlint](https://github.com/DavidAnson/markdownlint) repository.

[2020-11-25 21:23] #34 closed

[2020-12-05 19:19] nirgn975 opened #46 "[FEATURE] Add a word about LoveIt to docs"
## Describe the feature you want

- Stale Section
  I think we need to add a word / sentence / paragraph in the README about LoveIt and to say that this repo is a successor because LoveIt become Stale (or something like that).
- Call for maintainers
  I think you need to create a new issue on LoveIt that call for maintainers to help with this repo. This will also refer people from there to here.

[2020-12-07 19:07] victor-pogor commented on #46
Added the issue to call maintainers to contribute to this repository (dillonzq/LoveIt#565).

[2020-12-11 08:48] #46 closed

[2020-12-13 10:42] victor-pogor opened #57 "[BUG] Meta description is wrong."
## Describe the bug

*This bug was originally opened by @Th1nhNg0 on the LoveIt repository (dillonzq/LoveIt#550).*

This meta tag should be `description`, not `Description`
https://github.com/sunt-programator/CodeIT/blob/64ea2eea052ad8ed19744ce96ffd44bd826c5cd6/layouts/partials/head/meta.html#L3

[2020-12-25 11:53] Dongxu-Zheng opened #60 "[FEATURE] Delete French pages"
Thanks for your work to keep this theme still active. I am a new one to build a blog for myself and I do like this theme. But I think the French page is not used so often. So I was wondering how to delete this page totally? I annotate the languages.fr module in config.toml file. It works and the French option is gone. However, there is still some space left at the header of the homepage. Any sugge

[2020-12-26 09:52] #60 closed

[2020-12-26 09:53] Dongxu-Zheng commented on #60
Hi, I just delete all of the lines about French and it works well. So I close this issue.

[2020-12-26 16:35] victor-pogor opened #61 "[BUG] Wrong repository name"
## Describe the bug

In many files, the name of the repository is called `hugo-codeit`.

## Expected behavior

The name of the repository should be `CodeIT`.

[2020-12-26 16:53] #41 closed

[2020-12-26 16:53] #43 closed

[2020-12-26 16:53] #57 closed

[2020-12-26 16:53] #61 closed

[2020-12-28 07:48] victor-pogor opened #66 "[FEATURE] Integrate LightHouse CI"
## Describe the feature you want

- Feature 1
  It may be useful to integrate the Lighthouse CI and GitHub Actions to track the blog performance.

## Useful reference

[Continuous Performance Analysis with Lighthouse CI and GitHub Actions](https://css-tricks.com/continuous-performance-analysis-with-lighthouse-ci-and-github-actions/)

[2021-01-01 18:36] Programazing opened #68 "Unable to build website"
## Describe the bug

I'm unable to build the site. The error is listed under Additional Information.

## Expected behavior

I expected the site to build after running `hugo server -D`

## Screenshots

## Build Environment

- OS: Windows 10
- Theme version/commit: 0.1.0 08b7f42
- Hugo version: 0.80.0
- Hugo-extended version: 0.80.0

## Preview Environment

- OS: Windows 10
- Browser: Firefox

## Ad

[2021-01-01 19:59] Programazing commented on #68
I did discover that it works fine using `hugo serve`, it's just failing when I add the `-D` flag for draft previews.

[2021-01-02 10:55] victor-pogor commented on #68
Hello @Programazing.

The problem was reported on the original theme (dillonzq/LoveIt#518}. I will make the required changes.

Does this error persist only to new posts without content? When I add the content to the posts it works.

Not working variant:
[code]

Working variant:
[code]

[2021-01-02 18:30] Programazing commented on #68
Seems it's just when there's an empty post. It took me a while to find the draft that caused the issue.

[code]

[2021-01-02 22:36] victor-pogor commented on #68
I am reopening this issue since it requires minor changes.

[2021-01-02 22:48] Programazing commented on #68
Sorry about that

[2021-01-06 13:31] sosiristseng commented on #66
FYI: [an example GH action yml file](https://github.com/peaceiris/hugo-theme-iris/blob/master/.github/workflows/lighthouse.yml) from the [author](https://github.com/peaceiris) of GH pages actions.

[2021-01-06 14:08] victor-pogor commented on #66
Thanks, @sosiristseng. I will take a look after the holidays (`>=1/11/21`).

[2021-01-09 22:57] michael0liver commented on #66
Hi, first off thanks for forking this theme and keeping it alive!

I think this will be a good idea. I ran lighthouse today and there are a few issues related to using `javascript:void(0);` on hrefs.

[2021-01-10 22:17] michael0liver opened #72 "[FEATURE] Disable comments in frontmatter"
## Describe the feature you want

It would be nice if it were possible to disable the comments feature on certain pages via the front matter :)

[2021-01-11 09:54] michael0liver commented on #72
Actually after looking at the template it seems you can add the following to the front matter:

[code]

Can this be added to the documentation and CodeIT/archetypes/default.md?

[2021-01-11 13:35] Programazing commented on #72
It is in the [documentation](https://codeit.suntprogramator.dev/theme-documentation-content/#front-matter)

You can also just use `comment: false` if you want to make it more compact

I agree it should be included in the default archetype but at worst you can just override it with your own

[2021-01-11 13:42] michael0liver commented on #72
My bad I must of skimmed past that.

That is a nice shorthand thanks!!

Closing as I have sorted my own issue 😄

[2021-01-11 13:42] #72 closed

[2021-01-12 00:33] azharlihan opened #75 "[BUG] The demo website is not accessible from Southeast Asia"
Website https://codeit.suntprogramator.dev/ is not accessible from Southeast Asia. When I visit the website, it displays Error 522 (Connection Timeout). When I visit the website as another country (ex: Netherland) using VPN, the website appears normally. However, not everyone in Southeast Asia uses a VPN.

#### Screenshoot Using Google Chrome Windows 10
![Cloudflare 522](https://user-images.github

[2021-01-12 09:47] michael0liver opened #76 "[BUG] Search icon layout shift on window resize"
## Describe the bug

Upon resizing of the window the search icon shifts. I have tested it in Chrome, Firefox and Safari and I can only reproduce on Firefox.

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

#### Firefox
![Jan-12-2021 09-23-41](https://user-images.githubusercontent.com/55017335/104296227-48ae5680-54b9-11eb-9336-bc8c9af094d1.gif)

[2021-01-12 16:17] sosiristseng commented on #29
I captured these images using Firefox's responsive design mode. Not sure if they help.

## iPhone

320 x 568

![320 x 568](https://user-images.githubusercontent.com/40054455/104341222-813f4600-5534-11eb-9d21-464b939d6e7a.png)

## iPad

1112 x 834

![1112 x 834](https://user-images.githubusercontent.com/40054455/104341279-8f8d6200-5534-11eb-9838-dee60a227a90.png)

## Fullscreen

1920 x 1080

![1920

[2021-01-13 07:22] mwolfaardt opened #78 "[BUG] Can't set size of featured-image"
## Describe the bug

I am unable to set the size of the featured-image causing the image to display a massive oversized image

## Expected behavior

Have auto scale, or guidelines about what size the image should be.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Build Environment

- OS: Windows 10
- Theme version : latest

[2021-01-13 15:36] victor-pogor commented on #29
Thanks, @sosiristseng.

I'll change the theme demo image. 👍

[2021-01-13 15:47] victor-pogor commented on #75
Hi @azharlihan.

I'm sorry about your issue. It seems to be a problem with Cloudflare.

I would like to write to its support team but as far as I understood it will be useful to provide him the trace information. Can you access please [this link](https://suntprogramator.dev/cdn-cgi/trace) and provide here the `colo` value?

If you want to read more information about this parameter, you can access

[2021-01-13 17:57] Programazing commented on #76
I noticed it moves when I click any of my links then snaps back into place

![search](https://user-images.githubusercontent.com/11393826/104490423-d3b54c80-559e-11eb-9a77-d401db40beb8.png)

[2021-01-15 03:27] sosiristseng commented on #29
I found today we can preview the mockup in [create mockup](https://www.createmockup.com/) like this

![image](https://user-images.githubusercontent.com/40054455/104677578-97abf400-5724-11eb-97d1-80891a243a4e.png)

[2021-01-15 05:29] sosiristseng commented on #68
We need to check if the content is empty [from this post](https://discourse.gohugo.io/t/error-with-partials-in-0-75-0/28184). So `layout/partials/function/content.html` would be:

[code]

I'm not a Go template expert so maybe there is a better way. But adding these two lines resolved the issue.

[2021-01-15 07:07] azharlihan commented on #75
I have accessed [the link](https://suntprogramator.dev/cdn-cgi/trace) and the colo value that I get is `SIN`

below is the complete information
[code]

[2021-01-15 07:14] victor-pogor commented on #75
Ok, I will try to write to the support team.

PS: I edited your comment because it contained the IP address which I think is some kind of personal data.

[2021-01-15 07:22] victor-pogor commented on #68
@sosiristseng Thank you for your contribution. I will look at the PR today.

[2021-01-15 07:24] azharlihan commented on #75
Oww okay. sorry about that 😅

[2021-01-15 07:28] victor-pogor commented on #29
@sosiristseng I made the mockup in the GIMP application since I didn't know any site for automated creation of the mockups 😄

[2021-01-16 13:28] victor-pogor commented on #68
@all-contributos please add @Programazing for bug

[2021-01-16 13:29] victor-pogor commented on #68
@all-contributors please add @Programazing for bug

[2021-01-16 13:49] #29 closed

[2021-01-17 07:51] epogrebnyak opened #82 "[FEATURE] ORCID id to frontpage"
## Describe the feature you want

On front pade add ORCID pictogram. In config.toml would be adding to `[languages.en.params.social]` https://github.com/sunt-programator/CodeIT/blob/504db875f1ade8bda962adb8b79dbe9adc8b90d0/exampleSite/config.toml#L157

## Useful reference

Here is my example where an ID could have pointed to <https://orcid.org/0000-0003-3914-9665>

[2021-01-17 07:56] epogrebnyak opened #83 "[Enhancement] Hoover on avatar"
Pointing mouse on avatar on front page gives the filename, but as an enhancement it could give author name.

![изображение](https://user-images.githubusercontent.com/9265326/104834756-97416380-58b2-11eb-9001-d03b14b9db14.png)

[2021-01-17 08:26] epogrebnyak commented on #83
Sorry I lavelled this as a bug

[2021-01-17 11:39] victor-pogor commented on #83
Hi @epogrebnyak. Thank you for your contribution. I made a PR (#84) for this issue.

[2021-01-17 11:40] victor-pogor commented on #83
@all-contributors please add @epogrebnyak for bug

[2021-01-17 12:15] epogrebnyak commented on #83
@victor-pogor thank you for such a prompt update! LoveIt is super functional theme (the shortcodes, the appearance, the simplicity) and I appreate you taking care of CodeIT fork. It appeals to me you give all the approrate credit to original theme author and preserve the language versions. Great work!

[2021-01-21 13:25] mwolfaardt opened #93 "[FEATURE] Add Telegram as sharing option"
## Describe the feature you want
The theme have a lot of sharing options, except the new big players, signal and telegram. Add the options in the config file for blog posts to be shared using these mediums

[2021-01-21 17:19] victor-pogor commented on #75
Hello @azharlihan. It seems to be a problem with your ISP.

You can read about your error [here](https://support.cloudflare.com/hc/en-us/articles/115003011431-Troubleshooting-Cloudflare-5XX-errors#522error) and [here](https://community.cloudflare.com/t/502-errors-in-singapore/199117/3).

Unfortunately, I can't help you to access the blog theme, since the problem may be related to your provider, bu

[2021-01-21 17:19] #75 closed

[2021-01-21 17:44] #68 closed

[2021-01-24 07:14] epogrebnyak opened #94 "[FEATURE] Feather fonts option"
## Describe the feature you want

- The icon for Github in LoveIt/CodeIT looks like like funny pig, and not octopus, once you see it, hard to unsee.
Maybe there is a way to change that icon or a set of icons to another font? Feather (below) looks nice!

This may be minor and subjective, and may need to go into the theme, I'd be happy if someone tells where the symbol for github is set and how to o

[2021-01-24 10:42] victor-pogor commented on #94
It was funny 🤣. The change is simple. `CodeIT` uses `Font Awesome` font. You can simply change this line from `fab fa-github-alt fa-fw` to `fab fa-github fa-fw`.

https://github.com/sunt-programator/CodeIT/blob/1d2e25027b591b667521825b50cce3b48e7c1f7a/assets/data/social.yml#L7

And the icon will be as [you want](https://fontawesome.com/icons/github?style=brands) 🙂.

[2021-02-02 00:26] jadmadi opened #98 "SGSS doesn't fingerprint external resources"
## Describe the bug
I enabled Fingerprint, but it's working on local resources only not the ones listed in data/cdn/jsdelivr.yml.

## Expected behavior
Expected output
`<script src="https://cdn.jsdelivr.net/npm/twemoji@13.0.0/dist/twemoji.min.js" integrity="sha384-avLpk7eChiSgpDvwa4N7hvg9vj6V9sfFmGHurVkPOlWUalASzcO3d2x3qcbQqhsH" crossorigin="anonymous"></script>`

Current output

`<script type="c2

[2021-02-05 06:49] xiaochi-liu opened #102 "Error when building the site"
## Describe the bug

Hello. I'm using the `blogdown` R package to build a website and I like this theme very much.

However, when launching the server or building the site, I encounter the error shown below.

## Expected behaviour

Build the site successfully.

## Screenshots

![image](https://user-images.githubusercontent.com/48895627/106999252-f7546700-67d9-11eb-9189-23a14760ef1a.png)

![image](

[2021-02-08 20:03] #83 closed

[2021-02-08 20:08] victor-pogor commented on #102
Hi @xiaochi-liu.

Can you make the first commit on the `master` branch?

[2021-02-08 20:11] victor-pogor commented on #98
Hi @jadmadi.

I will take a look at this issue.

Thank you for contributing to this repo 😉

[2021-02-08 20:17] #94 closed

[2021-02-08 20:19] victor-pogor commented on #93
Hello @mwolfaardt.

Thank you for contributing to this theme.

I will add these sharing options.

[2021-02-08 23:10] xiaochi-liu commented on #102
Thank you very much @victor-pogor. It's [here](https://github.com/xiaochi-liu/My-Blog).

I have to say this is the most beautiful and elegant theme I've seen in the Hugo theme list. Really hope it also works in `blogdown`.

[2021-02-09 01:17] sheldonhull commented on #98
I had to remove `sha256` from the config for the styles to load correctly. This was all styles for the site. Might need a new issue, but wanted to mention this in case it's related. Cheers

[2021-02-09 03:58] sheldonhull opened #107 "[FEATURE] Support Nested Headers beyond h2"
## Describe the feature you want

Right now h1-h2 is rendered with a `#` while h3 and beyond show a pipe. This is a bit jarring. Would like to have the header show up with #, ##, ### up to h5.

## Useful reference

One cool example of how this is rendered can be seen on this page: https://www.swyx.io/temporal-transparency-update-9-auth-is-coming-2nok/
I think the style for showing header with hash

[2021-02-09 05:25] sheldonhull commented on #107
I found out where to add this.

`themes/codeit/assets/css/_page/_single.scss`

[code]

Learned a bit on scss from this. :tada:

![Screenshot 2021-02-08 232447](https://user-images.githubusercontent.com/3526320/107319661-de131b00-6a64-11eb-8fad-c93321432ef7.png)

If you like the idea, I could submit a PR with the change.

[2021-02-09 22:46] sheldonhull opened #108 "[BUG] RSS Doesn't seem to honor the full text setting"
## Describe the bug

1. I tried to join discord, but the bug template link isn't working. Suggest regenerating a discord invite link for readme.
2. [rssFullText setting was configured](https://github.com/sheldonhull/sheldonhull.hugo/blob/8314cc5ca4334872ba9a3797b0203bec2e639138/config.yml#L223)
1. Home feed for entire site is empty. https://www.sheldonhull.com/index.xml
2. Section feed for blog on

[2021-02-10 06:29] xiaochi-liu commented on #102
Hello @victor-pogor. I think it might be an error occurred with hugo? I got the following information. Hope it helps.

[code]

[code]

[2021-02-11 08:12] jadmadi commented on #98
Awesome Thank you @victor-pogor I tried looking for the responsible code block but couldn't find it as I'm fairly new to Hugo.

[2021-02-11 09:23] victor-pogor commented on #102
Hi @xiaochi-liu. Can you see please issue #68?

The fix will be in the next release.

[2021-02-13 13:51] xiaochi-liu commented on #102
Get it. Thank you very much @victor-pogor

[2021-02-13 13:51] #102 closed

[2021-02-14 20:52] trmendes opened #114 "[FEATURE] Mapbox/CodeIT GeoJson support"
## Describe the feature you want

- Mapbox GeoJson
  I was checking CodeIT documentation and I could not find a way to give mapbox a geojson file to load. I would like to have a few points on my map.

[2021-02-15 19:22] victor-pogor opened #116 "[BUG] Author tag is not show correctly in RSS file"
## Describe the bug

As @jadmadi reported on PR #113, the `<author/>` tag in the RSS XML file is not showing correctly. I checked the theme via [W3C RSS Validator](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fcodeit.suntprogramator.dev%2Findex.xml) and I found two problems:

1.  Invalid email address: `Author`
2. Self reference doesn't match document location: `https://example.com/ind

[2021-02-15 19:29] victor-pogor commented on #107
Hi. Thank you for contributing to this repository.

I like the idea with the `#` prefix on the headers, but I'm not sure if we need this glow effect 🙂

[2021-02-15 20:02] victor-pogor commented on #76
Hi @michael0liver and @Programazing.

I hard-coded the `top` and `bottom` attributes 😄

https://github.com/sunt-programator/CodeIT/blob/d46221ce1148f1a9eeeef6c4d063632586d2a7e3/assets/css/_partial/_header.scss#L99-L100

[2021-02-15 20:03] #76 closed

[2021-02-15 21:43] sheldonhull commented on #107
@victor-pogor ha! That's my own site customization, not suggesting that as a standard 😆.
I'll submit a PR with the change then.

[2021-02-16 17:44] #107 closed

[2021-02-17 17:45] victor-pogor commented on #78
Hi, @mwolfaardt.

I can't reproduce your issue. I saw that the feature image is auto-scaled.

![image](https://user-images.githubusercontent.com/24962085/108245057-86f20200-7158-11eb-8599-5787dd395ff9.png)

[2021-02-20 08:13] trmendes opened #126 "[FEATURE] Make TOC optional"
-  Make TOC optional
  It would be nice to be able to enable/disable TOC for every single page (and not only to posts) as part of the header

[code]

[2021-02-20 10:09] victor-pogor commented on #126
Hello @trmendes!

Did you try something like this?
https://github.com/sunt-programator/CodeIT/blob/52d07a1d8f81613d70ce0a6ed1a475aed08224a4/exampleSite/config.toml#L709-L715

[2021-02-21 01:54] glyh opened #128 "[BUG] Article content structure behave strangely"
## Describe the bug

When the passage gets too long, the structure of the article can't display everything, but flash and disappear when browsing.

## Expected behavior

The structure of the article can be scrolled or something to fit long passages.

## Screenshots

I have [a webpage on my github.io](https://glyh.github.io/posts/sicp-solutions-in-clojure-chapter-2/) here so you can scroll over it:

[2021-02-28 09:29] victor-pogor commented on #78
Closed as need more details to reproduce this issue.

[2021-02-28 09:29] #78 closed

[2021-02-28 10:23] victor-pogor opened #137 "[FEATURE] Follow the community profile"
## Describe the feature you want

- [ ] Add code of conduct file
- [ ] Add contributing document (to mention about commit message convention)
- [ ] Add pull request template
- [ ] Review issue templates (to remove the information about Discord, since Github added discussion feature)

[2021-02-28 11:20] victor-pogor commented on #82
@all-contributors please add @epogrebnyak for ideas

[2021-02-28 11:21] #82 closed

[2021-03-08 10:13] christoph-cullmann opened #145 "[FEATURE] Make cookie use optional"
At the moment, per default one cookie (or local storage) is used to allow the user to store the dark/light theme selection.

It would perhaps make sense to have an option to avoid this (even if that means only the auto theme selection is possible), as this would allow to use the theme without the cookie banner.

If I missed how to do this now already, sorry, I read a bit the code and for me this s

[2021-03-08 18:34] victor-pogor commented on #93
Hi @mwolfaardt.

I added the Telegram sharing option, however, I didn't add the Signal sharing option since it does not have this option (as far as I understood).

[2021-03-08 18:34] #93 closed

[2021-03-08 19:10] victor-pogor commented on #116
Hi @jadmadi. I close the #113 PR since the changes were made in another PR.

Thank you for the contribution to this repo.

@all-contributors please add @jadmadi for code and bug

[2021-03-08 19:12] #116 closed

[2021-03-22 17:18] nessn2 opened #155 "[BUG] TOC on the right not visualised properly when too long"
## Describe the bug

When there are enough titles to reach the bottom of the page, the table of content is simply cut off and becomes practically unusable.

## Expected behavior

I guess it could be implemented so when the TOC is very long you can scroll it up and down?

## Build Environment

- OS: MX Linux (Debian)
- Theme version/commit: v0.1.1, ece2351
- Hugo extended 0.81.0

## Additional Info

[2021-03-23 18:44] victor-pogor commented on #126
Hi @trmendes.

Thank you for contributing to this repository. I like the idea. 😉
I see that documentation remains the same, no need to update.

[2021-03-23 18:46] victor-pogor commented on #126
@all-contributors please add @trmendes for code

[2021-03-23 18:49] #126 closed

[2021-03-23 19:29] victor-pogor commented on #98
@jadmadi This I found in [one](https://github.com/sunt-programator/CodeIT/blob/master/assets/lib/algoliasearch/algoliasearch-lite.umd.min.js) of the minified local files.
[code]

It's relating specifically to the files from CDN because the minified content can change easily. For this, I think it will not be possible to assign the integrity to CDN files.

Relating to local files, Hugo calculates an

[2021-03-29 16:42] #98 closed

[2021-03-31 14:12] andyjenkins1 opened #162 "[FEATURE] Tag Cloud / Tag List on the CodeIT Homepage"
It would be great if you could consider adding a toggle via config.toml that would allow you to display the tags on the homepage of the CodeIT screen.  I was thinking if enabled it would push the content to the left of the screen (not centered) and then the Tag Cloud / Catogory Cloud appearing on the right hand side.

This could be done either a simple list which you could control with a parameter

[2021-03-31 14:14] andyjenkins1 commented on #145
Agreed this would be a good and would remove the need to have any cookies.  Just wondering if any update on this?

[2021-04-05 15:12] KKKPJSKEY opened #167 "[BUG] The variable `{{< style "img { height: 1.25rem; }` on line 4 in `en/about/index.md` was not properly closed with `}}`. For more information,"
## Describe the bug

When I commited Code to Github，Github respond this bug The variable `{{< style "img { height: 1.25rem; }` on line 4 in `en/about/index.md` was not properly closed with `}}`. And email get the same thisn For more information, I dont know whether it is a new rules which the Github Check the .md file. Due to this question I go a bad way to forbid all *.md by gitignore file . And

[2021-04-05 16:04] xinyu-yang opened #168 "KaTeX UPDATE"
## KaTeX UPDATE

- Feature 1
  It seems that katex has a new update and supports some new features (e.g., align, align*). Do you have a plan to update this lib?

## Useful reference

https://github.com/KaTeX/KaTeX/releases/tag/v0.13.0

[2021-04-05 19:13] victor-pogor commented on #167
Hi @KKKPJSKEY

You should not store source code on Github pages. You need to have 2 separate repositories.

On the first, you will have the source code of your blog. And, with Github Actions, you can set up the CI/CD to build and deploy your theme to your second repository.

The second repository should have only static files (HTML, CSS, JS).

[2021-04-05 19:24] victor-pogor commented on #168
Hi @xinyu-yang

I was thinking about it. I looked in the code and I don't like that we need to update manually the libs and also update [this file](https://github.com/sunt-programator/CodeIT/blob/master/assets/lib/VERSION).

So, I read about [Include Dependencies In package.json / node_modules](https://gohugo.io/hugo-pipes/js/#include-dependencies-in-packagejson--node_modules). I'm thinking of inc

[2021-04-06 03:27] KKKPJSKEY commented on #167
Hi @victor-pogor ,
The repository  which have this question is just the second repository which is just you said. It only have the connand "Hugo" execute，and i upload the "public" package which just contain static file to the github .Although i dont have the first, i just commit them manually. And this theme have a function which is goto source markdown file，so that i want to upload my *.md file.

[2021-04-06 07:41] sosiristseng commented on #167
Hello, @KKKPJSKEY hope my [template site](https://github.com/sosiristseng/template-hugo-codeit) helps.

The setup is a single repo with two branches (`main` and `gh-pages`) and lets Github Hugo action build Markdown files in the `main` branch into HTML pages and GitHub pages action pushes HTML files to the `gh-pages` branch and make Github source the HTML files in `gh-pages` branch in the repo opt

[2021-04-06 15:55] xinyu-yang commented on #168
Hi @victor-pogor . Thank you for your patient answer.

Actually, I have tried the environment `aligned` with
[code]
, which environment is supported by KaTeX v0.11.1 according to https://katex.org/docs/0.11.1/supported.html.  But I can not get the right rendering, while other one-line formula surrounded by $$ can get the right rendering.

Fortunately, I see this https://github.com/halogenica/beaut

[2021-04-10 09:40] victor-pogor commented on #114
Hi @trmendes. From what I understood, the theme doesn't support this feature yet. Improvements are needed.

[2021-04-10 15:22] #168 closed

[2021-04-11 11:29] victor-pogor commented on #162
Hi @andyjenkins1.

It's a good idea. I will think about this.

[2021-04-22 15:26] andyjenkins1 commented on #162
Sounds good, thank you!

[2021-04-26 13:27] rguske commented on #162
Hi, using the free space on the sides is a good idea. I was also thinking about the ability to integrate with Twitter (tweets from your own account) for instance but inflating the theme too much, can have a negative impact on the reader. This theme is beloved because it's slim and clearly arranged.
Here's a good example how it could look like: https://cloudtekki.com/post/self-service-for-your-data

[2021-04-26 15:08] andyjenkins1 commented on #162
+1 - This is a fantastic way to implement it!.  Be great to see this in the CodeIT Theme, great spot!!.

[2021-04-26 18:59] victor-pogor commented on #162
Hi guys, I like this idea. I'll look at this but there is another issue that it needs to fix (#155).

Sorry for the delay but I'm trying to resolve these issues after my main job and if I still have the strength to look at these items :). Sorry again. 🙂

[2021-04-26 19:17] andyjenkins1 commented on #162
No worries at all - and thank you for working on this in your own time!.

[2021-04-27 08:30] rguske commented on #162
What Andy said! No worries at all and we absolutely appreciate your efforts.

[2021-05-10 04:59] aiyasin opened #194 "[FEATURE]The math formula on the phone interface shows an abnormality"
The math formula on the phone interface shows an abnormality
![image](https://user-images.githubusercontent.com/61509470/117607834-65b91480-b18f-11eb-9e88-d7806d183d76.png)
[abnormalSite](https://yasinblog.netlify.app/fence-likeocclusiondetection/)
## Useful reference
I thought it could render the formula as a sliding box，like code

[2021-05-13 01:32] aiyasin commented on #194
@victor-pogor

wow, good job😄

[2021-05-20 17:12] victor-pogor commented on #145
Hi all,

I looked at this item and I did the following:

If the `params.cookieconsent.enable` is `false`, then the `theme` option will not be written in the local storage.

https://github.com/sunt-programator/CodeIT/blob/22f7a81d055f37b81cfae46e866250db89e9c6fc/src/js/theme.js#L101-L108

https://github.com/sunt-programator/CodeIT/blob/22f7a81d055f37b81cfae46e866250db89e9c6fc/layouts/_default/baseo

[2021-05-31 14:49] KHannibal opened #212 "[BUG] Random tags on posts"
My website can be found here : https://chl.li/fc

## Describe the bug

I have migrated from LoveIt to CodeIt. Everything is running perfectly but the tags of each post appear to be randomly generated, then one tag is chosen and applied to all the posts. See pictures below.

Categories are not affected. I have not altered any file in the `/themes/CodeIT` folder.

When looking at the `/public/tags`

[2021-06-01 17:28] victor-pogor commented on #108
Hi @sheldonhull,

Sorry for the late response to this issue. Does it still reproduce?

[2021-06-02 17:51] sheldonhull commented on #108
@victor-pogor yes. I have resolved in my own rss layouts, along with webmentions support and ac:author tag fixes. If you'd like me to submit with my fixes as PR I'd be glad to. Pretty sure that default behavior in Hugo is to do this and requires override.

[2021-06-06 18:23] victor-pogor commented on #108
@sheldonhull yeah, it would be great 😉

[2021-06-18 17:42] sheldonhull opened #221 "Inconsistent Image Handling and Sizing"
## Describe the bug

- The image behavior is not handling lazyloading sizing correctly for image posts.
- The gallery/expand view doesn't work without an extra title attribute.
- The lazy loaded size for a full single post image is too small.
In reviewing the results of the rendered page it looks like this:

[code]

If I strip out all the other srcset to only leaving the standard image the size is

[2021-06-27 20:23] aplatanado commented on #145
Hi,

I think is best test against `this.config.cookieconsent`:

[code]

`layouts/partials/assets.html` only set `this.config.cookieconsent` if `params.cookienconsent.enabled` is true.
If it is false, `this.config.cookieconsent` is undefined.

[2021-06-28 19:34] victor-pogor commented on #145
Hi @aplatanado,

If the `this.config.cookieconsent` property will be undefined, the theme key in the localStorage will not be set (as expected).

Can you explain please what do you mean?
Thanks. 😉

[2021-06-28 19:46] victor-pogor commented on #221
Hi @sheldonhull,

Yeah, I observed this bug since `LoveIt`, I'll try to look at this issue. Thanks 😉.

[2021-06-28 19:48] victor-pogor commented on #212
Hi @KHannibal,

Sorry for this late response, I did not start yet to reproduce this issue, I will look at it ASAP. Thank you for your contributions.

[2021-06-28 21:25] aplatanado commented on #145
Hi,

If  the condition is:

[code]

then that line will fail with 'Uncaught TypeError: Cannot read property 'enabled' of undefined' when there is no 'cookieconsent' section in config file or enabled was set to false because in both cases this.config.cookieconsent is undefined. So I suggest just checking if this.config.cookieconsent is not undefined, as in:

https://github.com/sunt-programator/Code

[2021-06-29 06:26] victor-pogor commented on #145
Ohh, understood you, I don't know where I looked in code yesterday, because I remember the `this.config.cookieconsent`. My mistake, sorry ))

I added in PR #207 your review.

[2021-07-03 19:54] ktw717 opened #231 "[BUG] Remove the Discord channel from the issue template"
## Describe the bug
In the following message it says:
[code]
## Expected behavior

I click [Discord channel](https://discord.com/channels/777188233284681768/777188575485493259)! and it takes me to discord but its not seeing the server.

## UPDATE
Now, the questions can be addressed using the [Discussions](https://github.com/sunt-programator/CodeIT/discussions) tab on this repository.

[2021-07-03 20:36] ktw717 opened #232 "[BUG] Theme Version Settings"
## Describe the bug

When I try to set the theme using the latest release found [here](https://github.com/sunt-programator/CodeIT/releases) I see the latest is `0.1.2`

So of course I try to set my theme using this in the config

[code]

## Expected behavior

That it works and uses that version of the them.

## What Actually Happens

[code]

But this does work:
[code]
## Build Environment

- OS:`m

[2021-07-05 17:47] victor-pogor commented on #114
Hi @trmendes,

I added the GeoJson support. I added the sample config file that will be used for loading the sources and configuring the layers. These two properties are taken from the official docs of `Mapbox`.

[code]

The sample shortcode with provided properties file:

[code]

The result:

![image](https://user-images.githubusercontent.com/24962085/124505114-78d41380-ddd1-11eb-890d-e0e320a331e

[2021-07-05 17:51] victor-pogor commented on #231
Hi @ktw717,

Now, you can ask the questions on the [Discussions](https://github.com/sunt-programator/CodeIT/discussions) tab. I created this channel when the mentioned feature wasn't present.

I'll rename this issue.

[2021-07-05 18:25] ktw717 commented on #231
No worries I thought that was the case but I wanted to check!

Thanks for taking up this project

https://github.com/sunt-programator/CodeIT/pull/234

[2021-07-06 15:53] trmendes commented on #114
Super. Thanks @victor-pogor

I look forward to trying it out with my collection :)

[2021-07-08 05:58] KHannibal commented on #212
Thank you @victor-pogor.

The issue is still there with hugo v0.85.0+extended darwin/arm64. I could not find the source of the issue. Here are some more information :

- my "tags" folder structure and content
![Screenshot 2021-07-08 à 07 43 55](https://user-images.githubusercontent.com/3843004/124868659-581de080-dfc0-11eb-86f1-f1e91f3a667f.png)

- I have removed `auto: true` (or `auto: false`) fr

[2021-07-10 15:27] #231 closed

[2021-07-10 15:28] #194 closed

[2021-07-10 15:28] #145 closed

[2021-07-12 09:37] OnlyFor opened #237 "[FEATURE] 增加 waline 评论系统"
虽然valine很好，但感觉waline更好，希望作者能支持一下，

本人js水平有限，尝试按https://lewky.cn/posts/hugo-3.1.html/#%E4%BD%BF%E7%94%A8waline%E6%9B%BF%E4%BB%A3valine%E8%AF%84%E8%AE%BA%E7%B3%BB%E7%BB%9F这个教程进行配置并不成功。。。。

[2021-07-12 18:22] victor-pogor commented on #237
Hi @OnlyFor,

Thank you for your contribution to this repository. Unfortunately, I don't speak Chinese but using the translator I understood that it would be nice to have the `waline` comment system.

I'll add this when I'll have the time. Thanks again 🙂.

[2021-07-12 18:26] victor-pogor commented on #232
Hi @ktw717,

The problem is that the version does not correspond in the `init.html` file:

https://github.com/sunt-programator/CodeIT/blob/d1fa3573eb1aaacd9f448b2e5053fc058aa1d72c/layouts/partials/init.html#L3-L11

With the version provided in the `config.toml` file.

https://github.com/sunt-programator/CodeIT/blob/d1fa3573eb1aaacd9f448b2e5053fc058aa1d72c/exampleSite/config.toml#L629-L631

The nex

[2021-07-13 00:44] OnlyFor commented on #237
Thanks in advance !

[2021-07-14 04:46] OnlyFor commented on #237
[pull](https://github.com/sunt-programator/CodeIT/pull/239#issue-689513449)

[2021-07-14 18:56] victor-pogor commented on #128
Hi @glyh,

Sorry for the sooo long response. I took a look and I observed that on the original CodeIT theme (the example site), the issue is not reproducible.

When I tried to use your minimalistic config, the issue appeared. I think there is a misconfiguration but I didn't get what is the specific configuration. I'll keep you in touch.

[2021-07-15 02:05] glyh commented on #128
Never mind, after all it's open source. And thanks for your contribution! I'm going to look it up some time.

[2021-07-22 18:46] #237 closed

[2021-08-01 16:24] KHannibal commented on #212
The issue is still here with hugo v0.86.1+extended darwin/arm64.

[2021-08-03 09:44] gnohz opened #255 "[FEATURE] Author: nil?"
## Describe the feature you want

- Is it possible to disable the author?
-
- Another issue: I used ox-hugo to convert org file to markdown. Then I have
`author = ["author"]`
instead of
`author = "author"`
However, the first one gives me an error message:
`execute of template failed: template: partials/plugin/link.html:7:16: executing "partials/plugin/link.html" at <safeHTML>: error calling safeHT

[2021-08-09 17:16] victor-pogor commented on #255
Hi @gnohz.

I'll take a look at this, but it seems that we need to add the multiple authors support.

There is a similar pull request (#153) that describes the same problem.

[2021-08-09 18:34] #232 closed

[2021-08-09 18:34] #114 closed

[2021-08-12 06:09] KHannibal opened #262 "[BUG] Render of "page" failed"
## Describe the bug

When running the command `hugo` to build my websites, several errors appeared.

`ERROR 2021/08/12 07:37:53 render of "page" failed: execute of template failed: template: posts/single.html:107:12: executing "content" at <partial "single/footer.html" .>: error calling partial: "/Sites/blog/themes/CodeIT/layouts/partials/single/footer.html:54:32": execute of template failed: temp

[2021-08-15 16:03] cxcn opened #263 "[FEATURE] Add support for Fuse.js"
## Add support for Fuse.js

- Feature 1
  Fuse.js has the benefits of both lunr and algolia.
  It's more efficient than algolia and has higher performance than lunr.

[2021-08-16 18:14] victor-pogor commented on #263
Hi @cxcn. Good idea.

I'll try to integrate this search library when I'll have the free time 😉

Thanks.

[2021-08-16 18:33] victor-pogor commented on #262
Hi @KHannibal,

Can you send me the repository link to your blog?

[2021-08-22 08:16] KHannibal commented on #262
Hi @victor-pogor,

You mean, you would like a copy of my website repository ?

[2021-08-24 12:43] victor-pogor commented on #262
@KHannibal I just wanted to look in your blog repository to try to identify the root cause of this issue, but If your blog's source code is closed, it's ok, I'll try to find out without it. :)

[2021-08-28 06:17] davised commented on #263
FYI there is another LoveIT based theme that has fuse.js implemented: https://github.com/HEIGE-PCloud/DoIt

[2021-09-06 17:21] victor-pogor commented on #262
Hi @KHannibal,

I was able to reproduce your issue. I analyzed your repository and the theme's code and I observed that the error persists when you have the `tags` with the empty content. So you have to remove all empty tags from your posts.

| Scenario | Result |
| ----------- | ----------- |
| `tags: [""]`     |  :x:        |
| `tags: []` | ✔️   |
| `tags: ["abc"]` | ✔️ |

[2021-09-08 16:58] KHannibal commented on #262
Wow, I did not even notice that. Thanks a lot !!! 👍
And you killed two birds with one stone, since you simultaneously fixed the #212 issue. Let me know how I can offer you a coffee. :)

[2021-09-08 16:58] #262 closed

[2021-09-08 16:59] KHannibal commented on #212
See solution in #262.

[2021-09-08 16:59] #212 closed

[2021-09-11 11:57] christoph-cullmann commented on #145
Hmm, I must confess, I tried this, but for me, still the local storage is set, with 0.2.0, even without cookie banner.
Perhaps I am doing something wrong.

[2021-09-11 20:30] victor-pogor commented on #145
@christoph-cullmann have you tried to disable the cookie consent?

[code]

[2021-09-15 21:11] RoneoOrg opened #283 "[FEATURE] Add support for Netlify Deployment"
The feature "[Deploy to Netlify](https://www.netlify.com/blog/2016/11/29/introducing-the-deploy-to-netlify-button/)" could be a nice tool to ease the theme adoption.

I gave a try but encountered this error:

[code]

Any hint?

[2021-09-20 15:53] KHannibal opened #285 "[FEATURE] Add "Threema" to the list of social media on homepage"
## Describe the feature you want

Add the messaging service [Threema](https://threema.ch/en) to the homepage.

URLs are : https://threema.id/XXXXXXXX where the X are your ID made of 8 random letters and numbers.

What is missing however is an icon...

Threema's Git is here : https://github.com/threema-ch

Thank you !

[2021-09-20 18:53] victor-pogor commented on #283
Hi @RoneoOrg,

I will look at this since I didn't work yet with Nelify.

This will serve for me as a source to implement this: [Host on Netlify | Hugo](https://gohugo.io/hosting-and-deployment/hosting-on-netlify/).

[2021-09-22 06:54] RoneoOrg commented on #283
I implemented this feature lately in BeautifulHugo, (see https://github.com/halogenica/beautifulhugo/pull/399/commits/8b3cc024a40028c549e06a2d9dcdef2961dcbc5b) sometime it works with just a few lines.

[Netlify's forum](https://answers.netlify.com) is also a good place to find answers, nice and helpful Support team, super active community

[2021-09-24 03:26] aozaki-kuro opened #288 "[FEATURE] Add support for Umami"
## Describe the feature you want

Umami is a free self-hosted analytics as an alternative choice of Google Analytics and provides detailed info.

But unfortunately I don't know how to write Go 😞

I hope this could be added to the supported list.

## Useful reference

The script added into <head> looks like this

[code]

For the `config.toml`
[code]

[2021-09-28 19:33] victor-pogor commented on #288
Hi @aozaki-kuro. Thank you for your contribution. I will add this when I have some time. 😉

[2021-09-28 19:40] victor-pogor commented on #285
Hi @KHannibal. Thank you for your contribution. I will add this when I have some time. 😉

PS: I found some logos [here](https://threema.ch/en/press).

[2021-10-04 18:22] yanboyang713 opened #293 "[FEATURE] Could NOT support multi author for one post"
Currently, I found each post only supports one author's name. This is works.
For example:
[code]

However, If one post has multi-author, it does NOT work.
For example:
[code]

[2021-10-07 17:33] sheldonhull opened #297 "[SOLVED] error calling Paginator: 'paginate' configuration setting must be positive to paginate"
## ✅ Solved

In the course of working through the issue, I found the issue, but wanted to document the bug here as it was a problem on config, not a bug in the theme. The error message only finally seemed to be popping up.

I had tried in the past to disable pagination, not realizing it has to be built into theme logic to handle.

I had used the default config to start with and changed the paginat

[2021-10-07 17:33] sheldonhull commented on #297
Closing as solved, and just documented my notes in case someone else gets this edge case in the future.

[2021-10-07 17:33] #297 closed

[2021-11-01 17:27] victor-pogor commented on #293
Hello @yanboyang713.

Yes, I will add multi-author support. But there is another property (`authorLink`) that also needs to add multiple support.

I thought to create something like this in FrontMatter:
[code]

But I don't think it's a good idea. I'm not familiar with the `Org` format, but I think it does not support complex object types.

I think we need to add something like this:
[code]

Also,

[2021-11-05 03:06] yanboyang713 commented on #293
Hello @victor-pogor

Good day to you and thanks for your reply.

ok, I will have a look **authorLink**, first time know this.

Have a nice day,

Boyang

[2021-11-28 16:37] KHannibal commented on #285
Works like a charm, huge thanks @Ashpex ! :)

@victor-pogor could you add this to the next release, please ? Thanks in advance !

[2021-11-29 14:04] syheliel opened #330 "[BUG] incorrect code block"
## Describe the bug
the code block's width is not limited so that the long line will pop out of the screen.

## Expected behavior
provide a horizontal slide bar or automatically split the long line.

## Screenshots

![image](https://user-images.githubusercontent.com/45957390/143880221-ffc283dd-ba37-4a8c-b901-edabb6e0f3fa.png)

## Build Environment

- OS: Win10
- v0.2.0 release
- hugo v0.89.4-AB01B

[2021-11-30 11:10] syheliel commented on #330
I found that I should copy all the file in `exampleSite` first to avoid missing config items.

[2021-11-30 11:10] #330 closed

[2021-12-06 19:05] victor-pogor commented on #285
@all-contributor please add @Ashpex for code

[2021-12-06 19:06] victor-pogor commented on #285
@all-contributors please add @KHannibal for ideas

[2021-12-06 19:07] victor-pogor commented on #285
@all-contributors please add @Ashpex for code

[2021-12-06 19:20] victor-pogor commented on #285
Hello @KHannibal and @Ashpex,

Thank you for your feedback and code. This will be added to the next release.

[2021-12-06 19:26] Programazing opened #340 "[BUG] Theme changing back to dark from light when a new page is loaded"
## Describe the bug

I've noticed that if I change the theme to light on any page and then switch to another page the theme goes back to being dark. It's that way on [my website](https://www.thatamazingprogrammer.com/) and the [example website](https://codeit.suntprogramator.dev), but not the author's [personal website](https://www.suntprogramator.dev).

I have defaultTheme set to "auto", but chan

[2022-01-03 10:41] xMicky24GIT opened #354 "Question for improving Italian translation"
Hi, I would like to improve the Italian translation (I'm Italian) but I have a  question:

- For the admonitions you want the text to be singular or plural? (Right now in italian it's a mix)

[2022-01-03 16:41] victor-pogor commented on #354
Hi @xMicky24GIT,

I looked at other translations and they seem to have the singular form of text.

[2022-01-03 16:53] victor-pogor opened #355 "[FEATURE] Get rid of Dependabot in favor of Renovate"
## Describe the feature you want

Currently, the Dependabot bot creates too much noise in the Pull Requests section, because it creates one PR per dependency. There is no way now to group all required dependencies to update in one PR.

As per this issue (dependabot/dependabot-core#1190), the Dependabot team plan to implement this feature but it's not a top priority. The scope of this issue is to t

[2022-01-03 17:15] xMicky24GIT commented on #354
Ok i have done the PR.
I removed the article from `allSome` because it sounded  weird in Italian since it wasn't the right one for all the words (because of male and female genre)

[2022-01-03 17:22] #355 closed

[2022-01-03 17:24] renovate[bot] opened #365 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] chore(deps): update dependency lint-staged to v12.1.5
 - [ ] chore(deps): update dependency core-js to v3.20.2
 - [ ] chore(deps): update

[2022-01-03 17:37] #354 closed

[2022-01-05 10:25] #285 closed

[2022-01-08 10:22] beihai0xff opened #374 "[BUG] Utterances comment not shown when use right side TOC"
## Describe the bug

Utterances comment not not showing when use right side TOC, and the HTML content is
[code]
But if I use Static TOC, the utterances comment return to normal, like the page [wingsxdu.com/about](https://wingsxdu.com/about/)

## Expected behavior

I want to use the right side TOC and utterances comment can work well.

## Screenshots

![2022-01-08 18-07-20 的屏幕截图](https://user-image

[2022-01-12 22:50] xMicky24GIT opened #378 "[BUG] Plausible doesn't seem to work unless it's in the head tag"
## Describe the bug

Plausible doesn't seem to pick up views if the script isn't placed on the html <head> tag

## Expected behavior

I should see visit on plausible

## Screenshots

If applicable, add screenshots to help explain your problem.

## Build Environment
This shouldn't matter
- OS: Arch Linux
- Theme version/commit, I can't remember the commit I used but it was one of the latest ones
-

[2022-01-23 12:34] DilemmaRabbit opened #385 "[BUG] featured-image only works on index.md file"
Hello, I'm trying to add featured-image for my post.
My content structure is like this

- content
    - blogs
        - A.md
        - B.md
        - C.md
        - featured-image.jpg

I want to use featured-image.jpg for A,B,C

[code]

This is what I add in my .md file.
But this is not work.

I notice that the file named with "index.md" will work perfectly(like example post).
But I want to keep m

[2022-02-19 17:14] ryan4yin opened #408 "[BUG] cloud not load the waline's comments"
## Describe the bug

when enable waline comment system, comments cannot been loaded, console shows the following error:

[code]

But if I run waline with a timer delay, every thing will be ok:

[code]

related issues:

- https://github.com/walinejs/waline/issues/820

I think it's because theme.js did something that would conflict with waline, such as refresh the DOM elements generated by waline, b

[2022-02-21 08:16] Nesousx commented on #340
Hi,

Same issue here.

[2022-03-03 03:11] secdep[bot] opened #415 "项目引用了shell-quote等665个开源组件，存在1个漏洞，建议升级"
大佬，看你这个项目调用了shell-quote等665个开源组件，存在1个安全漏洞，建议你升级下。
[code]
还有其它几个漏洞，信息有点多我就不贴了，你自己看下完整报告：https://www.mfsec.cn/jr?p=aa4d18
你对这个issues有任何疑问可以回复我，我能看见哈。

[2022-03-06 00:38] miguelrdev commented on #340
ya i also have this issue.

[2022-03-06 06:58] yanboyang713 opened #417 "[BUG] error calling safeHTML: unable to cast []string{"Boyang Yan"} of type []string to string"
Hello All,

Good day to you.

Today, I faced the error MSG below.

[code]

I think need to merge below Pull requests:
https://github.com/sunt-programator/CodeIT/pull/153/commits/f6996fe8a88d0a925418a10574f6af617110df39

Have a nice day,
Boyang Yan